###############################################################################
#                                                                             #
#                   GITIGNORE for My Honey and the Bees 1.0+                  #
#                                                                             #
###############################################################################

###############################################################################
#                                                                             #
#           TO IGNORE UNCOMMITED CHANGES IN A TRACKED FILE:                   #
#                                                                             #
#           git update-index --assume-unchanged <file>                        #
#                                                                             #
#           Result: local modifications to file will be ignored.              #
#           File won't appear when running `git status`, nor                  #
#           will the changes be committed. To reverse:                        #
#                                                                             #
#           git update-index --no-assume-unchanged <file>                     #
#                                                                             #
#           TO STOP TRACKING A FILE THAT IS TRACKED:                          #
#                                                                             #
#           git rm --cached <file>                                            #
#                                                                             #
#           Result: file is no longer tracked by the index.                   #
#           The working tree version of the file remains unchanged.           #
#                                                                             #
###############################################################################

#===================================#
#             OS files              #
#===================================#

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes

#===================================#
#             Log files             #
#===================================#

*.log
*.sql
*.sqlite
error_log
access_log
.sass-cache

#===================================#
#            Misc files             #
#===================================#

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore files starting with .
.*

# ignore files starting with ~
~*

# ignore editor files
*.sublime-project
*.sublime-workspace
*.komodoproject
*.swp

# ignore media files
*.psd
*.markdown
*.mov

#===================================#
#     WP Core, except content       #
#===================================#

/*
!wp-content/
!favicon.ico
!favicon.png

#===================================#
# WP content, except plugins/themes #
#===================================#

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

#===================================#
#          Specific Plugins         #
#===================================#

# ignore everything in the "plugins" directory,
# except the plugins you specify
wp-content/plugins/*

#===================================#
#          Specific Themes          #
#===================================#

# ignore everything in the "themes" directory,
# except the themes you specify
wp-content/themes/*
!wp-content/themes/bees/

# ignore specific themes
wp-content/themes/twentyten/
wp-content/themes/twentyeleven/
wp-content/themes/twentytwelve/
wp-content/themes/twentythirteen/
wp-content/themes/twentyfourteen/

#===================================#
#       Specific Theme Items        #
#===================================#

wp-content/themes/bees/node_modules/*

#===================================#
#         Track this file           #
#===================================#

!.gitignore

