/***** Javascipt Warning *****/

body {
    padding-bottom: 20px;
}
.javascript-enable {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}
.javascript-enable p {
    margin: 0;
    padding: 0;
}

/***** Site Adjusts *****/
